<!DOCTYPE html>
<html>

<head>
	<title>Geolocation</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

	<style>
		body {
			margin: 0;
			padding: 0;
		}
		.leaflet-routing-alternatives-container {
  display: none;
}
.leaflet-routing-container leaflet-bar leaflet-routing-collapsible leaflet-control{
display: none;
}
.leaflet-bar {
display: none;
}
	</style>

</head>

<body>
	<div id="map" style="width:30%; height: 30vh"></div>
	<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
	<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
	<style>
	
		.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}
	</style>

	<script>

		var map = L.map('map').setView([10, 10], 10);
		mapLink = "<a href='http://openstreetmap.org'>OpenStreetMap</a>";
		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: 'Leaflet &copy; ' + mapLink + ', contribution', maxZoom: 18 }).addTo(map);

		var taxiIcon = L.icon({
			iconUrl: 'img/taxi.png',
			iconSize: [70, 70]
		})

	
			L.Routing.control({
				waypoints: [
					L.latLng(45.2380, -73.9956),
					L.latLng(43.65, -79.38)
				]
			}).on('routesfound', function (e) {
				var routes = e.routes;
				console.log(routes);

				e.routes[0].coordinates.forEach(function (coord, index) {
					setTimeout(function () {
						marker.setLatLng([coord.lat, coord.lng]);
					}, 100 * index)
				})

			}).addTo(map);


	</script>


</body>

</html>